.workout-list-card {
    width: 100%;
    height: 100%;
    color: white;

    .workout-list {
        height: 286px;
    }
}

.workout-list-card__wrapper {
    max-width: 350px;
    width: 100%;
    height: 100%;
}
