@import '../../assets/scss/colors';

.auth-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(50, 49, 91);
    background: linear-gradient(142deg, rgba(50, 49, 91, 1) 33%, rgba(60, 118, 175, 1) 100%);
}

.auth-panel {
    width: 100%;
    max-width: 300px;
    height: 300px;

    border-radius: 20px;

    &__wrapper {
        padding: 10px 20px;
        color: #fff;

        text-align: center;
    }

    &__header {
        margin-bottom: 50px;
        font-size: 20px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.input__wrapper {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 10px;

    label {
        padding-left: 10px;
        color: #dfe3e4;
    }
}

.auth-btn {
    width: 100%;
    border: 1px solid #dfe3e4;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px;

    &:hover {
        background-color: #dfe3e4;
        color: $db-hover;
        border: 1px solid $db-hover;
    }
}
