@import '../../../assets/scss/colors';

.month {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &__label {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 32px;
        min-width: 32px;
        height: 32px;
        min-height: 32px;
        margin: 0px 8px 8px;
        border-radius: 32px;
        color: rgba($db-hover, 0.38);
        cursor: pointer;
    }

    &__label-list {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
