@import '../../assets/scss/colors';

.menu-item {
    height: 44px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.menu-item__content {
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;

    &__text {
        transition: all 0.5s ease;
        opacity: 1;
    }

    .default-icon {
        min-width: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.menu-item__content:hover {
    background-color: $db-bg-main;
}
